<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding Blog Post</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="title">Blogtitle</label>
        <input type="text" id="title" name="title" required>
        <br><br>
        <label for="content">Content</label>
        <input type="text" id="content" name="content" required>
        <br><br>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>